/*================================================================================
	Item Name: Codepanel - Vuejs, HTML & Laravel Admin Dashboard
	Version: 2.0
	Author: Codebumble
	Author URL: http://www.codebumble.net
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
