.timeline {
	ul {
		@apply pt-12;
		li {
			@apply bg-red-600 list-none lg:mx-auto pt-12 relative;
			width: 6px;
			.content {
				@apply bg-slate-100 hover:bg-red-600 hover:text-white w-64 xl:w-108 lg:w-100 md:w-116 xs:w-98 transition-all transform translate-y-0 duration-500 p-8 shadow-lg rounded-lg hover:-translate-y-1 relative bottom-0 invisible opacity-0;
				transition: all 0.5s ease-in-out;
				.heading {
					@apply mb-4;
					h4 {
						@apply font-bold text-xl;
					}
					h2 {
						@apply font-bold text-3xl;
					}
				}
			}
			&::after {
				@apply h-8 w-8 rounded-full absolute bottom-0 left-2/4;
				content: "";
				transform: translateX(-50%);
			}
			&:nth-child(odd) div {
				@apply -right-8 xl:right-110 lg:right-102;
				transform: translate3d(-200px, 0, 0);
			}
			&:nth-child(even) div {
				@apply -right-8;
				left: 38px;
				transform: translate3d(200px, 0, 0);
			}
			&.active {
				div {
					@apply transform-none visible opacity-100;
				}
				&::after {
					@apply bg-white border-4 border-red-600;
				}
			}
		}
	}
}
