#growing-up-slider .splide::after {
	@apply w-full h-[100px] bg-no-repeat sm:bg-custom bg-custom-xs bg-right absolute -bottom-4 md:bottom-0;
	content: "";
	background-image: url(/frontend/images/logo/wave.png);
}
#growing-up-slider .splide__slide {
	@apply p-0 #{!important};
}
#growing-up-slider .splide__pagination.splide__pagination--ltr {
	@apply hidden;
}
#growing-up-slider ul.splide__pagination.splide__pagination--ttb {
	@apply lg:right-60 md:right-28 lg:-top-16 #{!important};
}
#growing-up-slider .splide__pagination::before {
	content: "";
	@apply bg-white h-[100%] absolute top-0 right-[2.333rem] opacity-50;
	width: 1px;
}
#growing-up-slider .splide__pagination__page.is-active,
#growing-up-slider .splide__pagination__page {
	@apply bg-transparent text-white opacity-100 italic relative scale-100 #{!important};
	&.is-active {
		@apply text-red-600 opacity-100 #{!important};
	}
}

#growing-up-slider .splide__pagination__page::before {
	content: "";
	@apply bg-white absolute right-[1.9rem] -bottom-[6px] rounded-full;
}
#growing-up-slider .splide__pagination__page.is-active::before {
	width: 5px;
	height: 5px;
}

#growing-up-slider .splide__arrow {
	@apply bg-transparent opacity-100 #{!important};
	svg {
		fill: white;
	}
}
#growing-up-slider .splide__arrows.splide__arrows--ttb {
	@apply h-4/5 absolute top-8 left-[44rem]  md:left-[36rem] lg:left-[44rem] xl:left-[60rem] xxl:left-[68rem] 2xl:left-[74rem] 3xl:left-[98rem];
}

#growing-up-slider .company-name::before {
	content: "";
	@apply w-full h-full absolute -z-[1];
	background: rgb(110, 107, 107);
	background: linear-gradient(
		90deg,
		rgba(110, 107, 107, 0.13489145658263302) 9%,
		rgba(87, 85, 85, 0.3) 28%,
		rgba(66, 65, 65, 0.38) 45%,
		rgba(31, 31, 31, 0.45) 74%,
		rgba(0, 0, 0, 0.5) 100%
	);
}
#growing-up-slider .description {
	@apply flex flex-col w-full md:w-1/2 text-left md:text-right absolute bottom-36 xl:bottom-48 2xl:bottom-64 3xl:bottom-[22rem] md:bottom-40 items-center md:items-end left-0 2xl:left-0 lg:-left-20 3xl:left-20 p-16 md:p-0;
	.text-year {
		@apply mb-4 md:mb-80;
	}
}

#growing-up-slider .company-name::before {
	content: "";
	@apply w-full h-full absolute -z-[1];
	background: rgb(110, 107, 107);
	background: linear-gradient(
		90deg,
		rgba(110, 107, 107, 0.13489145658263302) 9%,
		rgba(87, 85, 85, 0.3) 28%,
		rgba(66, 65, 65, 0.38) 45%,
		rgba(31, 31, 31, 0.45) 74%,
		rgba(0, 0, 0, 0.5) 100%
	);
}

@media (max-width: 767px) {
	.growing-up-desc {
		a,
		h3 {
			@apply text-lg;
		}
	}
}
