.group-company {
	@apply py-8;

	.title {
		@apply text-center;

		h2 {
			@apply pb-4;
		}

		p {
			@apply pb-8 xl:w-10/12 mx-auto;
		}
	}
}

.company-slide {
	.splide {
		@apply pb-8;
	}
	.splide__track {
		@apply py-4;
	}
	.splide__pagination__page {
		@apply bg-gray-400;
	}
}

.slideItem {
	div {
		background: linear-gradient(
			118.64deg,
			rgba(255, 243, 233, 0.7) -4.78%,
			hsla(0, 0%, 100%, 0.7) 64.5%,
			rgba(255, 243, 233, 0.7) 111.91%
		);
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		.itemName {
			position: relative;
			display: inline-block;
			bottom: 3rem;
			background: linear-gradient(
				118.64deg,
				rgba(255, 243, 233, 0.7) -4.78%,
				hsla(0deg, 0%, 100%, 0.7) 64.5%,
				rgba(255, 243, 233, 0.7) 111.91%
			);
			padding: 5px 15px;
			backdrop-filter: blur(0.2rem);
			text-align: center;
			font-weight: 700;
		}
	}
}
