.cb-hero {
	.image {
		@apply w-full;
	}
}

.zigzag_bg::after {
	@apply absolute -bottom-4 lg:-bottom-16 left-0 h-[100px] lg:h-[180px] w-full z-[1] bg-no-repeat sm:bg-custom bg-custom-xs bg-right;
	content: "";
	background-image: url(/frontend/images/logo/wave.png);
}

.text-shadow-extreme {
	text-shadow: rgb(0 0 0) 4px 4px 6px;
}
@media (max-width: 767px) {
	.top-vdo-img-slider {
		a,
		h1 {
			@apply text-2xl;
		}
	}
}
